body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0a0f1c;
  color: #fff;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 15px 30px;
}

nav h2 {
  color: #00ffcc;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #111827, #1f2937);
}

.hero h1 {
  font-size: 48px;
}

/* TABLE */
table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background: #111827;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #00ffcc;
  color: black;
}

th, td {
  padding: 12px;
  text-align: center;
}

/* MATCH CARDS */
.match {
  background: #111827;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}