body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0a0f1c;
  color: #fff;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  padding: 15px 30px;
}

nav h2 {
  color: #00ffcc;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #111827, #1f2937);
}

.hero h1 {
  font-size: 48px;
}

/* TABLE */
table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background: #111827;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #00ffcc;
  color: black;
}

th, td {
  padding: 12px;
  text-align: center;
}

/* MATCH CARDS */
.match {
  background: #111827;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
/* Top teams (qualification) */
.top-team {
  background: rgba(0, 255, 200, 0.1);
}

/* Relegation */
.relegation {
  background: rgba(255, 0, 0, 0.15);
}


/* Fade in rows */
tr {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Score pulse */
.match-score {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); color: white; }
  50% { transform: scale(1.1); color: #00ffcc; }
  100% { transform: scale(1); color: white; }
}

.ball {
  display: inline-block;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}